<div class="row mb-3">
  <div class="col-8 mx-auto card">
    <div class="card-header">
      <h4><%= message.user.name %></h4>
    </div>
    <div class="card-body">
      <pre><%= message.message %></pre>
    </div>
    <div class="card-footer">
      <%= message.created_at %>
    </div>
  </div>
</div>
